.ion-content{
    background-color:#1e1e1e ;
}


.logo-container {
    display: flex;
    justify-content: center;

    


}

img {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: 200px;
    border-radius: 35%;
  }
#carpageinicial{
    background-color: rgb(255, 151, 54);
}
#cardtitlepageinicial{
    color: black;
}
#cardsubtitleinicial{

    color: black;

}
#ptelainicial{

    color: black;
}

#cardheaderpageinicial{

    color: black;

}

#textopageinicial{
    text-align: center;

    
}

#entrapageinicial{

    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center; 
    justify-content: center;
    
}

#registrarpageinicial{

    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    text-align: center; 
    justify-content: center;
    

}